# Ignorar toda a pasta de configuração do Obsidian
.obsidian/

# Ignorar arquivos específicos dentro da pasta .obsidian (caso queira manter alguma configuração específica)
.obsidian/workspace # Layout e estado das janelas no Obsidian
.obsidian/cache     # Cache do Obsidian (dados temporários)
.obsidian/app.json  # Configuração do aplicativo (opções da interface)
.obsidian/workspace.json # Última posição e layout do workspace

# Ignorar arquivos de backup temporários que o Obsidian possa criar
*.md~
*.md#

# Ignorar outros arquivos e pastas de cache
.DS_Store            # macOS
Thumbs.db            # Windows

# Ignorar arquivos de configuração locais do sistema operacional
.idea/               # Configurações do IntelliJ IDEA/PhpStorm/etc.
.vscode/             # Configurações do Visual Studio Code
